body{
    font-size: 10px;
    background-image: url("..https://images.unsplash.com/photo-1497888329096-51c27beff665?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60");
    background-size: cover;
    background-position: center;
    margin: auto;
    padding: 0;
}
h1 {
    text-align: center;
    font-size: 40px;    
}
a {
    text-decoration: none;
    color: #fbd204;
}
a:hover {
    opacity: 0.8;
}
.Register{
    background-color:rgba(57, 85, 87, 0.8);
    margin: auto;
    width: 400px;
    height: 500px;
    font-size: 15px;
    margin-top: 40px;
}
.Register h2 {
    text-align: center;
    margin: 30px 0 0 0;
    padding: 30px;
    color: #fbd204;
}
.Register label {
    text-align: left;
    margin: 10px 0 0px 40px;
}
.Register input {
    text-align: left;
    width: 80%;
    margin: 10px 0 10px 40px;
    height: 30px;
    border-radius: 10px;
}
.Register button {
    margin: 10px 0 10px 40px;
    height: 30px;
    background:  #fbd204;;
    border-radius: 10px ;
}
.Register button:hover {
    background: #fbd204;;
    border-radius: 10px;
}
.Register button p{
    float: right;
}
.Register p {
    margin: 10px 0 10px 40px;
    height: 30px;
    text-align: center;
}
hr {
    margin: 0 30px 0 30px;
}